@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables (light and dark mode) */
@layer base {
  :root {
    --background: 256 60% 95%;                /* #E8E1FA - Light lavender / Lavender (web) (coolors.co)*/
    --foreground: 264 88% 7%;                 /* #0E0220 - Dark purple / Dark purple (coolors.co)*/

    --background-dark: 268 91% 13%;           /* #1F033E - Dark purple / Russian violet (coolors.co)*/ 
    --foreground-dark: 264 88% 7%;            /* #EFEBFA - Bone white / Magnolia (coolors.co)*/

    --card: 256 60% 95%;                      /* #EFEBFA - Bone white / Magnolia (coolors.co)*/
    --card-foreground: 259 59% 13%;           /* #190D33 - Dark gray purple / Russian violet (coolors.co)*/

    --popover: 256 60% 95%;                   /* #EFEBFA - Bone white / Magnolia (coolors.co)*/
    --popover-foreground: 259 59% 13%;        /* #190D33 - Dark gray purple / Russian violet (coolors.co)*/

    --primary: 317 92% 40%;                   /* #C4088F - Pink / Red Violet (coolors.co)*/ 
    --primary-foreground: 252 29% 97%;        /* #F5F4F9 - White / Ghost white (coolors.co)*/

    --secondary: 266 86% 19%;                 /* #2C075C - Purple / Persian indigo (coolors.co)*/
    --secondary-foreground: 252 29% 97%;      /* #F5F4F9 - White / Ghost white (coolors.co)*/

    --muted: 252 27% 35%;                     /* #4C4273 - Gray purple / Ultra Violet (coolors.co)*/
    --muted-foreground: 252 29% 97%;          /* #F5F4F9 - White / Ghost white (coolors.co)*/

    --accent: 151 74% 33%;                    /* #169457 - Green / Shamrock green (coolors.co)*/
    --accent-foreground: 252 29% 97%;         /* #F5F4F9 - White / Ghost white (coolors.co)*/

    --destructive: 36 100% 50%;               /* #FF9900 - Yellow-orange / Orange peel (coolors.co)*/
    --destructive-foreground: 264 88% 7%;     /* #190D33 - Dark gray purple / Russian violet (coolors.co)*/

    --border: 175 62% 81%;                    /* #B2EDE8 - Teal / Celeste (coolors.co)*/  
    --input: 175 62% 81%;                     /* #B2EDE8 - Teal / Celeste (coolors.co)*/  
    --ring: 317 92% 40%;                   /* #C4088F - Pink / Red Violet (coolors.co)*/ 

    /* --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 78% 32%; */

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 278 100% 79%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 54 100% 76%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 100% 75%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* Apply tailwind classes */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply rounded-lg;
  }

  .page {
    @apply flex h-full w-full flex-col items-center py-12;
  }

  .container {
    @apply flex w-full max-w-3xl flex-col items-center px-4 sm:px-6 lg:max-w-7xl lg:px-8;
  }

  h1 {
    @apply text-5xl font-semibold !leading-[1.2] tracking-tight;
  }

  h2 {
    @apply text-4xl font-semibold !leading-[1.2] tracking-tight;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-xl;
  }

  a {
    @apply text-primary;
  }
}
